In [1]:
from pathlib import Path
import re
import pandas as pd
import numpy as np

RAW = Path("/Users/ms/Projects/acoe-edu-data-portfolio/data/01_caldashboard/raw_data")
INTERIM = Path("/Users/ms/Projects/acoe-edu-data-portfolio/data/01_caldashboard/interim")
PROCESSED = Path("/Users/ms/Projects/acoe-edu-data-portfolio/data/01_caldashboard/processed")

INTERIM.mkdir(parents=True, exist_ok=True)
PROCESSED.mkdir(parents=True, exist_ok=True)

INPUT_FILE = RAW / "/Users/ms/Projects/acoe-edu-data-portfolio/data/01_caldashboard/raw_data/chronicabsenteeism24.csv"
pd.options.display.max_columns = 120
pd.options.display.width = 160
print("RAW:", RAW.resolve())

RAW: /Users/ms/Projects/acoe-edu-data-portfolio/data/01_caldashboard/raw_data

In [2]:
# Canonical names we want in the cleaned output
CANONICAL = {
    "year": ["academic_year"],
    "aggregate_level": ["aggregate_level"],            # codes T/C/D/S
    "county_code": ["county_code"],
    "district_code": ["district_code"],
    "school_code": ["school_code"],
    "county_name": ["county_name"],
    "district_name": ["district_name"],
    "school_name": ["school_name"],
    "charter": ["charter", "charter_school"],          # values: All, Y, N
    "dass": ["dass"],                                  # values: All, Y, N (2021–22+)
    "reporting_category": ["reporting_category"],      # subgroup code (TA, RB, RH, ...)
    "cohort": ["chronicabsenteeismeligiblecumulativeenrollment"],
    "chronic_absent_count": ["chronicabsenteeismcount"],
    "chronic_absent_rate": ["chronicabsenteeismrate"],
}

# Aggregate Level codes → label
AGG_LVL_MAP = {"T": "state", "C": "county", "D": "district", "S": "school"}

# Reporting Category code → human-friendly subgroup label (common subset)
RC_MAP = {
    "TA": "All Students",
    # Race/Ethnicity
    "RB": "Black/African American", "RI": "American Indian/Alaska Native",
    "RA": "Asian", "RF": "Filipino", "RH": "Hispanic/Latino",
    "RP": "Native Hawaiian/Pacific Islander", "RT": "Two or More Races", "RW": "White",
    # Program groups
    "SE": "English Learners", "SD": "Students with Disabilities",
    "SS": "Socioeconomically Disadvantaged", "SM": "Migrant",
    "SF": "Foster", "SH": "Homeless",
    # Gender (if present)
    "GM": "Male", "GF": "Female", "GX": "Non-binary", "GZ": "Missing Gender",
}

# Treat suppressed values "*" as NaN
NA_VALUES = ["*", "", "NA", "N/A", "null", "Null", "NULL"]

SMALL_N_SUPPRESS = 10  # for reference; public files already suppress small-N with '*'
ROUND_TO = 4

In [3]:
def normalize_header(name: str) -> str:
    n = str(name).strip()
    n = n.replace("%", " percent")
    n = re.sub(r"\s+", " ", n)
    n = n.lower()
    n = re.sub(r"[^\w\s]", "", n)
    n = re.sub(r"\s+", "_", n).strip("_")
    return n

def pad_code(s: object, width: int) -> str:
    """Pad numeric-like code with leading zeros, keep strings as-is."""
    if s is None or (isinstance(s, float) and np.isnan(s)): 
        return ""
    s = str(s).strip()
    # strip any decimal part like "1.0"
    if re.fullmatch(r"\d+(\.0+)?", s):
        s = s.split(".")[0]
    return s.zfill(width) if s.isdigit() else s

def parse_year(y):
    """Return end year int (e.g., '2022-23' -> 2023; '2021–2022' -> 2022)."""
    if pd.isna(y): return pd.NA
    s = str(y)
    m = re.search(r"(\d{4})\D+(\d{2,4})", s)
    if m:
        y1 = int(m.group(1)); y2 = int(m.group(2))
        if y2 < 100: y2 = (y1 // 100) * 100 + y2
        return max(y1, y2)
    m = re.search(r"\d{4}", s)
    return int(m.group(0)) if m else pd.NA

def load_fsabd_csv(path: Path) -> pd.DataFrame:
    """Robust CSV read with delimiter sniff, UTF-8 BOM, and '*'→NaN."""
    return pd.read_csv(
        path, sep=None, engine="python", encoding="utf-8-sig",
        na_values=NA_VALUES, keep_default_na=True, dtype=str
    )

def to_float(s: object):
    if s is None: return pd.NA
    try: 
        return float(str(s).replace(",", "").strip())
    except: 
        return pd.NA

def finish_rate_scale(series: pd.Series, round_to=ROUND_TO):
    """If rates look like percent points (>1), convert to 0–1."""
    s = pd.to_numeric(series, errors="coerce")
    med = s.dropna().median()
    if pd.notna(med) and med > 1:
        s = (s / 100.0)
    return s.round(round_to)

In [4]:
def process_fsabd_file(in_fp: Path) -> pd.DataFrame:
    print(f"Reading: {in_fp.name}")
    df = load_fsabd_csv(in_fp)

    # Normalize headers
    orig = df.columns.tolist()
    df.columns = [normalize_header(c) for c in df.columns]
    # print column mapping preview
    print("Columns:", dict(zip(orig, df.columns)))

    # Rename to canonical where possible
    rename_map = {}
    norm2canon = {}
    for canon, alts in CANONICAL.items():
        for k in [canon] + alts:
            norm2canon[normalize_header(k)] = canon
    for c in df.columns:
        if c in norm2canon:
            rename_map[c] = norm2canon[c]
    df = df.rename(columns=rename_map)

    # Preserve codes as strings with leading zeros
    for c, w in (("county_code",2), ("district_code",5), ("school_code",7)):
        if c in df.columns:
            df[c] = df[c].map(lambda x: pad_code(x, w))

    # Build district_cds (7) and school cds_code (14)
    if {"county_code","district_code"}.issubset(df.columns):
        df["district_cds"] = (df["county_code"].fillna("") + df["district_code"].fillna("")).replace({"": pd.NA})
    if {"county_code","district_code","school_code"}.issubset(df.columns):
        df["cds_code"] = (df["county_code"].fillna("") + df["district_code"].fillna("") + df["school_code"].fillna("")).replace({"": pd.NA})

    # Aggregate level code + human label
    if "aggregate_level" in df.columns:
        df["aggregate_level_code"] = df["aggregate_level"].astype(str).str.upper().str.strip()
        df["aggregate_level"] = df["aggregate_level_code"].map(AGG_LVL_MAP).fillna(df["aggregate_level_code"])

    # Charter / DASS normalize (All/Y/N)
    for col in ("charter","charter_school","dass"):
        if col in df.columns:
            df[col] = df[col].astype(str).str.strip().str.upper().replace({"YES":"Y","NO":"N"})
    if "charter" not in df.columns and "charter_school" in df.columns:
        df = df.rename(columns={"charter_school":"charter"})

    # ReportingCategory code & subgroup label
    if "reporting_category" in df.columns:
        df["reporting_category"] = df["reporting_category"].astype(str).str.upper().str.strip()
        df["subgroup_code"] = df["reporting_category"]
        df["subgroup"] = df["reporting_category"].map(RC_MAP).fillna(df["reporting_category"])

    # Parse year to end-year int
    if "year" in df.columns:
        df["year"] = df["year"].map(parse_year)

    # Convert counts/cohort/rate to numeric and fix rate scale
    for c in ("cohort","chronic_absent_count","chronic_absent_rate"):
        if c in df.columns:
            df[c] = df[c].map(to_float)
    if "chronic_absent_rate" in df.columns:
        df["chronic_absent_rate"] = finish_rate_scale(df["chronic_absent_rate"], ROUND_TO)

    # Optional: compute rate from counts as a QA check
    if {"chronic_absent_count","cohort"}.issubset(df.columns):
        df["chronic_absent_rate_calc"] = (pd.to_numeric(df["chronic_absent_count"], errors="coerce") /
                                          pd.to_numeric(df["cohort"], errors="coerce"))
        df["chronic_absent_rate_calc"] = df["chronic_absent_rate_calc"].round(ROUND_TO)

    # Trim whitespace on key text cols
    for tcol in ("county_name","district_name","school_name","subgroup"):
        if tcol in df.columns:
            df[tcol] = df[tcol].astype(str).str.strip()

    # Column ordering
    preferred = [
        "year",
        "aggregate_level_code","aggregate_level",
        "county_code","district_code","school_code",
        "district_cds","cds_code",
        "county_name","district_name","school_name",
        "charter","dass",
        "reporting_category","subgroup_code","subgroup",
        "cohort","chronic_absent_count","chronic_absent_rate","chronic_absent_rate_calc"
    ]
    cols = [c for c in preferred if c in df.columns] + [c for c in df.columns if c not in preferred]
    df = df[cols]

    print("Rows:", len(df), " | Columns:", len(df.columns))
    return df

In [5]:
def qa_report(frame: pd.DataFrame, n=10):
    print("Shape:", frame.shape)
    print("\nDtypes:")
    print(frame.dtypes.head(20))
    print("\nAggregate levels:", frame.get("aggregate_level_code", pd.Series()).dropna().unique())
    if "reporting_category" in frame.columns:
        print("ReportingCategory codes (sample):", frame["reporting_category"].dropna().unique()[:n])
    for c in ("charter","dass"):
        if c in frame.columns:
            print(f"{c} values:", frame[c].dropna().unique())
    # Rate sanity
    if "chronic_absent_rate" in frame.columns:
        s = frame["chronic_absent_rate"].dropna()
        if not s.empty:
            print("\nRate summary (fraction):", s.describe(percentiles=[.1,.25,.5,.75,.9]))

Process ONE file (use this if you set INPUT_FILE in Cell 1)

In [7]:
try:
    INPUT_FILE  # check if defined
    df_clean = process_fsabd_file(INPUT_FILE)
    qa_report(df_clean)

    out_base = INPUT_FILE.stem.replace(".","_")
    out_parquet = INTERIM / f"{out_base}_clean.parquet"
    out_csv = INTERIM / f"{out_base}_clean.csv"
    df_clean.to_parquet(out_parquet, index=False)
    df_clean.to_csv(out_csv, index=False)
    print("Saved:", out_parquet.name, "and", out_csv.name)
except NameError:
    print("INPUT_FILE not set — skip single-file run (use batch cell next).")

Reading: chronicabsenteeism24.csv
Columns: {'Academic Year': 'academic_year', 'Aggregate Level': 'aggregate_level', 'County Code': 'county_code', 'District Code': 'district_code', 'School Code': 'school_code', 'County Name': 'county_name', 'District Name': 'district_name', 'School Name': 'school_name', 'Charter School': 'charter_school', 'DASS': 'dass', 'Reporting Category': 'reporting_category', 'ChronicAbsenteeismEligibleCumulativeEnrollment': 'chronicabsenteeismeligiblecumulativeenrollment', 'ChronicAbsenteeismCount': 'chronicabsenteeismcount', 'ChronicAbsenteeismRate': 'chronicabsenteeismrate'}
Rows: 343602  | Columns: 20
Shape: (343602, 20)

Dtypes:
year                          int64
aggregate_level_code         object
aggregate_level              object
county_code                  object
district_code                object
school_code                  object
district_cds                 object
cds_code                     object
county_name                  object
district_name                object
school_name                  object
charter                      object
dass                         object
reporting_category           object
subgroup_code                object
subgroup                     object
cohort                      float64
chronic_absent_count        float64
chronic_absent_rate         float64
chronic_absent_rate_calc    float64
dtype: object

Aggregate levels: ['T' 'S' 'D' 'C']
ReportingCategory codes (sample): ['GF' 'GM' 'GR13' 'GR46' 'GR78' 'GR912' 'GRTK8' 'GRTKKN' 'GX' 'GZ']
charter values: ['ALL' 'N' 'Y']
dass values: ['ALL' 'N' 'Y']

Rate summary (fraction): count    237769.000000
mean          0.250354
std           0.182872
min           0.000000
10%           0.067000
25%           0.126000
50%           0.210000
75%           0.319000
90%           0.490000
max           1.000000
Name: chronic_absent_rate, dtype: float64
Saved: chronicabsenteeism24_clean.parquet and chronicabsenteeism24_clean.csv

Batch process ALL CSVs in data/raw/ (use this if you didn’t set INPUT_FILE)
csvs = sorted(RAW.glob("*.csv"))
if not csvs:
    print("No CSV files found in data/raw/. Put your FSABD file(s) there.")
else:
    for fp in csvs:
        df_clean = process_fsabd_file(fp)
        qa_report(df_clean)

        out_base = fp.stem.replace(".","_")
        out_parquet = INTERIM / f"{out_base}_clean.parquet"
        out_csv = INTERIM / f"{out_base}_clean.csv"
        df_clean.to_parquet(out_parquet, index=False)
        df_clean.to_csv(out_csv, index=False)
        print("Saved:", out_parquet.name, "and", out_csv.name)
        print("-"*80)

In [9]:
df_clean.head(5)

,year,aggregate_level_code,aggregate_level,county_code,district_code,school_code,district_cds,cds_code,county_name,district_name,school_name,charter,dass,reporting_category,subgroup_code,subgroup,cohort,chronic_absent_count,chronic_absent_rate,chronic_absent_rate_calc
0,2024,T,state,00,,,00,00,State,nan,nan,ALL,ALL,GF,GF,Female,2893392.0,590593.0,0.204,0.2041
1,2024,T,state,00,,,00,00,State,nan,nan,ALL,ALL,GM,GM,Male,3059188.0,623926.0,0.204,0.2040
2,2024,T,state,00,,,00,00,State,nan,nan,ALL,ALL,GR13,GR13,GR13,1252549.0,219754.0,0.175,0.1754
3,2024,T,state,00,,,00,00,State,nan,nan,ALL,ALL,GR46,GR46,GR46,1311437.0,209968.0,0.160,0.1601
4,2024,T,state,00,,,00,00,State,nan,nan,ALL,ALL,GR78,GR78,GR78,896631.0,172257.0,0.192,0.1921